[Desktop Entry]
Name=SoundCloud for COSMIC
Comment=Lets you use your SoundCloud subscription
Type=Application
Icon=com.github.orta.cosmic-soundcloud
Exec=cosmic-soundcloud %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
